* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
}

.header h1 {
  background-color: #fff;
  padding: 1rem;
}

.table-list {
  border: 1px solid #ddd;
  width: 50vw;
  margin: 5rem auto;
}

.header input[type="text"] {
  font-style: italic;
  width: 100%;
  padding: 0 40px 0 1rem;
  line-height: 50px;
  height: 50px;
  outline: none;
  border: 1px solid #ddd;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.icon-check {
  top: 1.4rem;
  left: 1rem;
  height: 16px;
  width: 16px;
  position: absolute;
}

.list {
  list-style: none;
  width: 100%;
  padding-left: 0;
}

.do-list-1 {
  list-style: none;
}

ul li {
  position: relative;
  background-color: #fff;
  padding: 1em;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  font-weight: 300;
}

.completed {
  color: #d6d6d6de;
  text-decoration: line-through;
}

ul li:hover {
  cursor: pointer;
}

ul li button {
  height: 16px;
  width: 16px;
  background: transparent;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #c1c1c3;
  cursor: pointer;
}

ul li.todo-clear {
  background: #ddd;
  font-style: italic;
  text-align: center;
}

ul li a.todo-link:hover {
  cursor: pointer;
}

.vert-ellips {
  position: absolute;
  right: 1rem;
  opacity: 0.2;
}

.vert-ellips:hover {
  cursor: pointer;
}

.trash {
  position: absolute;
  right: 2.5rem;
  opacity: 0.4;
}

.trash:hover {
  cursor: pointer;
}
